.pwbi-disclaimer-banner {
  padding: 10px;
  background-color: #e9ecf9;
  font-family: font/family/Body;
  font-weight: font/weight/Regular;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid #D3D8F2;
  border-radius: 4px;
}
 .pwbi-disclaimer-banner .pwbi-disclaimer-wrapper {
  display: flex;
}
.pwbi-disclaimer-banner .pwbi-disclaimer-wrapper .pwbi-disclaimer-img {
  margin: auto;
  display: block;
  min-width: 20px;
}
.pwbi-disclaimer-banner .pwbi-disclaimer-wrapper .pwbi-disclaimer-img img {
  padding-right: 10px;
}
.pwbi-disclaimer-banner .pwbi-disclaimer-accept {
  text-align: center;
}
.pwbi-disclaimer-banner .pwbi-disclaimer-accept button {
  font-family: font/family/Body;
  font-weight: font/weight/Regular;
  display: inline-block;
  border: 1px solid #D3D8F2;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #ffffff;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
